/* || Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || Section 1 */ 

.hero-section{
    background-color: #1f2937;
    padding: 20px 15% 80px 15%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

.hero-content{
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text h1{
    color: whitesmoke;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
}

.hero-text p{
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 18px;
}

.hero-img{
    background-color: #8d939b;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.signup-btn{

    background-color: #3882f6;
    color: whitesmoke;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* || Section 2 */

.info-container{
    display: flex;
}

.info-content{
    display: flex;
    flex-direction: column;
}

.cards{
    
}

.img-box{
    display: flex;
    gap: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid  #3882f6;
    border-radius: 12px;

}