/* || Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || Section 1 */ 

.hero-section{
    background-color: #1f2937;
    padding: 20px 15% 80px 15%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}

.hero-content{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.hero-text h1{
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-text p{
    color: whitesmoke;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

.hero-img{
    background-color: #8d939b;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
}

.signup-btn{

    background-color: #3882f6;
    color: whitesmoke;
    padding: 8px 25px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.asgard-img{
    width: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    box-shadow: 0 4px 6px;
}


/* || Section 2 */

h2 {
    text-align: center;
    margin: 30px;
    font-weight: 900;
    font-size: 2rem;
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
    margin: 20px 10px;
    padding: 1rem;
}

.text{
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    text-align: center;

}

.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 0.8rem;
    margin-bottom: 10px;

}

.card-img{
    width: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    box-shadow: 0 4px 6px;
}

.grid{
    display: flex;
    justify-content: center;
}

/*|| Section 3*/
.quote-section{
    padding: 80px 15% 80px 15%;
    background-color: #E5E7EB;
}

.quote-text{
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.quote-author{
    font-weight: 900;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

/*Section 4 */

.cta-container{
    display: flex;
    margin: 60px 15% 60px 15%;
    align-items: center;
    justify-content: center;
    background-color: #3B82F6;
    padding:40px 15% 40px 15%; 
    border-radius: 12px;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 1.2rem;
}

.cta-btn{
    border: 2px solid white;
    padding: 8px 32px;
    border-radius: 12px;
    background-color: #3B82F6;
    color: whitesmoke;
    font-size: 1rem;
    text-wrap: nowrap;
    
}

h3{
    margin-bottom: 5px;
}