/* || Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || Section 1 */ 


ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: goldenrod;
}

.logo{
    width: 64px;
    height: 64px;
}


 /*HEADER*/

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
    align-items: center;

}

.one{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: #1f2937;
}


/*HERO*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 15%;
    color: white;
    gap: 50px;
    background-color: #1f2937;
}

.hero-content{
    flex: 1;
    max-width: 400px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 8px;
}

.hero-content p {
  font-size: 18px;
  color: #e5e7eb; /* Lower contrast color for subtext */
  margin-bottom: 24px;
}

.signup-btn {
  background-color: #3882f6; /* Blue button color */
  color: white;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.signup-btn:hover {
    color: yellow;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  max-width: 500px; /* Adjust based on your needs */
  height: auto;
  border-radius: 15px;
}

body{
    background-color: #1f2937;
}